### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/bin/
out
/data
.DS_Store
### Maven ###
**/target
**/src/main/**/target/
**/src/test/**/target/

.mvn/settings-local*.xml
**/src/main/resources/application-local-private*.yaml

### Local environment ###
local-environment/volumes/axonserver/events
local-environment/volumes/axonserver/data

local-environment/volumes/mysql_data_container
