version: '3.8'

services:
  axonserver-container:
    image: axoniq/axonserver:4.6.11-jdk-17-dev
    container_name: user-management-axon-server
    restart: no
    environment:
      AXONIQ_AXONSERVER_DEVMODE_ENABLED: "true"
    ports:
      - '8024:8024'
      - '8124:8124'
      - '8224:8224'
    volumes:
      - ./volumes/axonserver/data:/axonserver/data
      - ./volumes/axonserver/events:/axonserver/events
      - ./volumes/axonserver/config:/axonserver/config
    networks:
      - springbankNet

  mongodb-container:
    image: mongo:5
    container_name: user-management-mongodb
    restart: no
    ports:
      - "27017:27017"
    networks:
      - springbankNet

  mysql-container:
    image: mysql:latest
    container_name: spring-bank-mysql
    restart: no
    ports:
      - '3306:3306'
    volumes:
      - ./volumes/mysql_data_container:/var/lib/mysql
    networks:
      - springbankNet
    environment:
      MYSQL_ROOT_PASSWORD: "springbankRootPsw"

  adminer-container:
    image: adminer:latest
    container_name: user-management-mongodb
    restart: no
    ports:
      - '8080:8080'
    networks:
      - springbankNet
    environment:
      ADMINER_DEFAULT_SERVER: "mysql-container"

networks:
  springbankNet:
    external: true
